doctype html
html
  head
  title= (title ? title + ' | Pubmed' : 'Pubmed')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/pubmed.css')

  script(src='/javascripts/jquery.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/pubmed.js')
  body
  nav(class='navbar navbar-fixed-top navbar-inverse', role='navigation')
    .container
      a.navbar-brand(href='/') Facta-pgx
      div(class='collapse navbar-collapse')
        ul(class='nav navbar-nav')
          li: a(href='/') Search for abstracts
          li: a(href='/statistics') Search for direct and indirect relationships

        div(class='pull-right')
          form(class='navbar-form', role='search', method='POST', action='/search/' + (search != undefined ? search : 'xml'), id='search-form')
            .form-group
              .input-group
                input(type='text', class='form-control', placeholder='search', name='query', id='search-query')
                .input-group-btn
                  button(type='submit', class='btn btn-default') search
                  button(type='button', class='btn btn-default dropdown-toggle', data-toggle='dropdown')
                    span.caret
                  ul(class='dropdown-menu dropdown-menu-right', role='menu', id='search-format')
                    li
                      a(href='#', data-format='xml', class=((search == undefined || search == 'xml') ? 'selected' : '')) XML
                    li
                      a(href='#', data-format='json', class=(search == 'json' ? 'selected' : '')) JSON


  block content